body{
	background-color: #D8D8D8;
	margin:0;
}
/*jumbotron*/
.jumbotron-fluid{
	height: 100vh;
	margin-bottom:1px; 
	padding-bottom:0px;
	background-image: url('image/jumbo.jpg');
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

}
.fa-github:hover{
	color:#fee;
}

h1{
	color:#81DAF5;
	font-family: 'Merienda', cursive;
}

 h3 {
	text-align: center;
	color:#00BFFF;
	font-family: 'Merienda', cursive;

}
h3{
	border-bottom: 1px solid  #F8E0F7; 
	bord
}
h2.lead{
	font-size: 4.25rem;
	text-align: center;
	color:#81DAF5;

}
#mer{
	width: 150px;
	height: 150px
}
h2{

	font-family: 'Merienda', cursive;
}
h5{
	font-family: 'Merienda', cursive;
}
a{
	color: #2E2E2E;
	font-weight: bold;	
	font-family: 'Merienda', cursive;
}

p{

	font-family: 'Merienda', cursive;
}
.navbar.header{
	background-color: #81DAF5;
	
}

.tech{
	width: 100px;
	height: 100px;
}


.fa-github{
	color: #81DAF5;
}


.fa-html5{
	color: #D26E09;
}
.fa-css3-alt{
	color: #1c88c7;
}
.fa-js{
color: #F7DF21;
}

.fa-php{
	color: #777ab3
}

.footer{
	background-color: #81DAF5;

	
}

.text{
	font-size: 30px; 
	color: #848484;
}

.fa-music{
	color: #FFFFFF;
}
.fa-tv{
color:#FFFFFF;
	
}

.fa-wifi{
	color: #FFFFFF;
}
#moi{
	width: 317px;
    height: 385px;

}

.contact{
	margin-left: 15px;
}
@media(max-width: 768px){
	#menu{
		display:none;
	}
}

.card.text-center.col-xl-6,#card2{
	width: 527px;
}
.card.body{
	width:600px;
}